{{template "layout.html" .}}

{{define "title"}}Art Forms{{end}}

{{define "content"}}
<h3>Art Forms</h3>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {{ $active := " active"}}
        {{- range $t, $v := .DanceForms }}
        <button class="nav-link{{$active}}" data-bs-toggle="tab" data-bs-target="#nav-{{kebab $t}}" type="button" role="tab">{{$t}} ({{
            len $v }})</button>
        {{ $active = ""}}{{- end}}
        {{- range $t, $v := .MusicalForms }}
        <button class="nav-link{{$active}}" data-bs-toggle="tab" data-bs-target="#nav-{{kebab $t}}" type="button" role="tab">{{$t}} ({{ len
            $v }})</button>
        {{ $active = ""}}{{- end}}
        {{- range $t, $v := .PoeticForms }}
        <button class="nav-link{{$active}}" data-bs-toggle="tab" data-bs-target="#nav-{{kebab $t}}" type="button" role="tab">{{$t}} ({{ len
            $v }})</button>
        {{ $active = ""}}{{- end}}
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    {{ $active := " active"}}
    {{- range $t, $v := .DanceForms }}
    <div class="tab-pane{{$active}}" id="nav-{{kebab $t}}" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table table-hover table-sm table-borderless">
            <tr>
                <th width="100%">Name</th>
                <th>Size</th>
            </tr>
            {{- range $v }}{{- if not (eq .Name "") }}
            <tr>
                <td>{{ danceForm .Id }}</td>
                <td></td>
            </tr>
            {{- end}}{{- end}}
        </table>
    </div>
    {{ $active = ""}}{{- end}}
    {{- range $t, $v := .MusicalForms }}
    <div class="tab-pane{{$active}}" id="nav-{{kebab $t}}" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table table-hover table-sm table-borderless">
            <tr>
                <th width="100%">Name</th>
                <th>Size</th>
            </tr>
            {{- range $v }}{{- if not (eq .Name "") }}
            <tr>
                <td>{{ musicalForm .Id }}</td>
                <td></td>
            </tr>
            {{- end}}{{- end}}
        </table>
    </div>
    {{ $active = ""}}{{- end}}
    {{- range $t, $v := .PoeticForms }}
    <div class="tab-pane{{$active}}" id="nav-{{kebab $t}}" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table table-hover table-sm table-borderless object-table">
            <tr>
                <th width="100%">Name</th>
                <th>Size</th>
            </tr>
            {{- range $v }}{{- if not (eq .Name "") }}
            <tr>
                <td>{{ poeticForm .Id }}</td>
                <td></td>
            </tr>
            {{- end}}{{- end}}
        </table>
    </div>
    {{ $active = ""}}{{- end}}
</div>

{{- end }}