{{template "layout.html" .}}

{{define "title"}}Artifacts{{end}}

{{define "content"}}
<h3>Artifacts</h3>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {{- range $t, $v := .}}
        <button class="nav-link{{ ifFirst $ $t " active" }}" data-bs-toggle="tab" data-bs-target="#nav-{{kebab $t}}" type="button"
            role="tab">{{$t}} ({{ len $v }})</button>
        {{- end}}
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    {{- range $t, $v := . }}
    <div class="tab-pane{{ ifFirst $ $t " active" }}" id="nav-{{kebab $t}}" role="tabpanel" aria-labelledby="nav-home-tab">
        <table>
            <tr>
                <th width="100%">Name</th>
                <th>Type</th>
            </tr>
            {{- range $v }}{{- if not (eq .Name "") }}
            <tr>
                <td>{{ artifact .Id }}</td>
                <td>{{ if eq $t "item"}}{{.ItemType}}{{else}}{{.ItemSubtype}}{{end}}</td>
            </tr>
            {{- end}}{{- end}}
        </table>
    </div>
    {{- end}}
</div>

{{- end }}