{{template "layout.html" .}}

{{define "title"}}Legends Browser{{end}}

{{define "content"}}
<h3>Civilizations</h3>

<ul>
    {{- range $race, $civs := .Civilizations }}
    <li>{{ $race }}</li>
    <ul>
        {{- range $civs }}
        <li>{{ entity .Id }}</li>
        {{- end }}
    </ul>
    {{- end }}
</ul>

<div id="map" style="height: 400px"></div>
{{initMap}}
{{- range $race, $civs := .Civilizations }}
{{- range $civs }}
{{- range .Sites }}
{{ addSite . true }}
{{- end }}
{{- end }}
{{- end }}

{{- end }}