<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{suburi}}/">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}{{end}}</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-dark.css" rel="stylesheet">
    <link href="./css/bootstrap-icons.css" rel="stylesheet">
    <link href="./css/all.min.css" rel="stylesheet">
    <link href="./css/legends.css" rel="stylesheet">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/autocomplete.js"></script>
    <link href="./leaflet/leaflet.css" rel="stylesheet">
    <script src="./leaflet/leaflet.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-weight: 500;">Legends Browser</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{ if world }}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="./">Civilizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{if not world.MapReady}} disabled{{end}}" href="./worldmap">World Map</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Objects
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="./geography">Geography</a></li>
                            <li><a class="dropdown-item" href="./entities">Entities</a></li>
                            <li><a class="dropdown-item" href="./sites">Sites</a></li>
                            <li><a class="dropdown-item" href="./structures">Structures</a></li>
                            <li><a class="dropdown-item" href="./hfs">Historical Figures</a></li>
                            <li><a class="dropdown-item" href="./identities">Identities</a></li>
                            <li><a class="dropdown-item" href="./worldconstructions">World Constructions</a></li>
                            <li><a class="dropdown-item" href="./artifacts">Artifacts</a></li>
                            <li><a class="dropdown-item" href="./artforms">Art Forms</a></li>
                            <li><a class="dropdown-item" href="./writtencontents">Written Contents</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./years">Years</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./collections">Collections</a>
                    </li>
                </ul>
                <form class="d-flex" action="./search" method="get">
                    <div class="input-group">
                        <input id="search" class="form-control" name="search" type="search" placeholder="Search" aria-label="Search"
                            autocomplete="off">
                        <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
                <script>
                    const ac = new Autocomplete(document.getElementById("search"), {
                        data: [{ label: "I'm a label", value: 42 }],
                        maximumItems: 50,
                        onInput: value => $.get("./search?term=" + value, data => ac.setData(data)),
                        onSelectItem: ({ label, value }) => window.location = "." + value
                    });
                </script>
                {{ end }}
            </div>
        </div>
    </nav>

    <div class="container">{{block "content" .}}{{end}}</div>

    <script>
        var hash = document.location.hash;
        if (hash && hash.startsWith("#nav-")) {
            var hashPieces = hash.split('?');

            var someTabTriggerEl = document.querySelector('.nav-link[data-bs-target="' + hashPieces[0] + '"]')
            var tab = new bootstrap.Tab(someTabTriggerEl)
            tab.show()
        }

        $('.nav-tabs button,.nav-tabs a').on('click', function (e) {
            window.location.hash = $(this).data("bs-target")
        });

        function loadLinkPopoverData() {
            return $.ajax({
                url: "./popover" + this.getAttribute("href").substring(1),
                async: false
            }).responseText;
        }

        $('a.entity,a.hf,a.region,a.site,a.structure,a.worldconstruction,a.artifact,a.writtencontent,a.collection,a.landmass,a.mountain,a.identity,a.river').each(function () {
            var popover = new bootstrap.Popover($(this), { content: loadLinkPopoverData, trigger: "hover", placement: "top", html: true })
        })
    </script>
</body>

</html>