{{if .Female }}
<i class="fa-solid fa-venus fa-xs"></i>
{{else}}
<i class="fa-solid fa-mars fa-xs"></i>
{{end}}
{{ .Race }}
{{ if .Deity}}deity{{end}}
{{ if .Force}}force{{end}}
{{ if .Vampire}}vampire{{end}}
{{ if .Werebeast}}werebeast{{end}}
{{ if .Necromancer}}necromancer{{end}}
{{ if not (or .Deity .Force)}}
(*{{ .BirthYear }}{{ if ge .DeathYear 0 }} †{{ .DeathYear }}{{ end }})
{{ end }}

{{- if or (ne 0 (len .EntityFormerPositionLink)) (ne 0 (len .EntityPositionLink)) }}
<ul class="mb-0">
    {{- range $i := .EntityPositionLink }}
    <li>
        {{ ((getEntity $i.EntityId).Position $i.PositionProfileId).GenderName $ }} of {{ entity $i.EntityId }} (since {{
        $i.StartYear }})
    </li>
    {{- end }}
    {{- range $i := .EntityFormerPositionLink }}
    <li>
        {{ ((getEntity $i.EntityId).Position $i.PositionProfileId).GenderName $ }} of {{ entity $i.EntityId }} ({{
        $i.StartYear }} - {{ $i.EndYear }})
    </li>
    {{- end }}
</ul>
{{- end }}