{{template "layout.html" .}}

{{define "title"}}{{ title .Name }}{{end}}

{{define "content"}}

{{ if world.MapReady }}
<div class="object-map">
    <div id="map" style="width: 300px; height: 300px"></div>
</div>
{{initMap}}
{{ addRegion .Id }}
<script>map.addLayer(regionsLayer);</script>
{{- end }}

<h3>{{ title .Name }}</h3>
<p>{{ .Type }}</p>

{{- if ne .ForceId -1 -}}
<dl class="row">
    <dt class="col-2 col-lg-1">Force</dt>
    <dd class="col-10 col-lg-11">{{ hf .ForceId }}</dd>
</dl>
{{- end -}}

<h5>Events</h5>
{{ template "events.html" events . }}

<p>{{ json . }}</p>
{{- end }}