{{template "layout.html" .}}

{{define "title"}}{{ title .Name }}{{end}}

{{define "content"}}
<div class="object-map">
    <div id="map" style="width: 300px; height: 300px"></div>
</div>
{{initMap}}
{{ addWorldConstruction .Id }}

<h3>{{ title .Name }}</h3>
<p>{{ .Type }}</p>

{{- if gt (len .Parts) 0 }}
<h5>Parts</h5>
<ul>
    {{- range .Parts }}
    <li>{{ worldConstruction . }}</li>
    {{- end }}
</ul>
{{- end }}

<h5>Events</h5>
{{ template "events.html" events . }}

<p>{{ json . }}</p>
{{- end }}